article.card.product-item
  header.card__header
    h1.product__title #{product.title}
  div.card__image
    img(src=product.image, alt=product.title)
  div.card__content
    h2.product__price #{"$"+product.price}
    p.product__description #{product.description}
  .card__actions
    if list
      a.btn(href="/products/"+product._id) Details
    if isAdmin
      a.btn(href="/admin/product/edit/"+product.id) Edit
      form(action="/admin/product/delete/" + product.id method="POST")
        input.btn(type="submit" value="Delete")
    else  
      button.btn Add to Cart